
.notebooksPageContainer {
  display: flex;
  margin-left: 15;
  width: 85%;
  margin-top: 5%;
}

.notebooksBar {
  /* display: flex;
  flex-direction: row; */
  width: 25vw;
  height: 100%;
  background-color: rgba(128, 128, 128, .3);
  padding-top: 10px;
}